.maps {
	width: 100vw;
	height: 60vh;
}

.maps__map {
	width: 90vw;
	height: 50vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	font-size: 1.15rem;
	margin-top: 4rem;
	/* background-color: red; */
}

.maps__button {
	background-color: grey;
}
